#bigbutton {
	width: 6em;
	height: 5.22em;
	font-size: 3em;
	text-align: center;
	font-style: italic;
	color: red;
}

#bigbutton:hover {
	background-color: red;
	color: blue;
}

#mainphoto {
	border-radius: 1em;
}
body {
  background: #F0F0F3;
}


.signIn {
	text-align: center;
}

#explore {
	text-align: center;
}

.button:hover {
	background-color: red;
}

.activeButton {
	background-color: red;
}